extends ../../../layouts/header-footer 

block head
	title #{result.compartio.title} se necesita en #{result.city.name} - compart.io

block body
	div.page
		div.container
			div(id="compartio")
				div
					h1 Se necesita en #{result.city.name}
					h2 #{result.compartio.title}
				div
					div Pedido por #{result.user.username}				
					div DESCRIPCIÓN:
						p #{result.compartio.description}

			div(id="categoria")
				h2 CATEGORÍAS
				div
					div 
						img.compartio-image(src="#{result.category.url_image}", alt="sin imagen")
					div
						div #{result.category.title}
						div #{result.category.description}

			div(id="usuarios-interesados")
				button LO TENGO PARA TI
				div Un consejo: a través de un comentario da detalles sobre el objeto en cuestión.
				if result.interested_users != null
					p Usuarios Interesados
					for obj in result.interested_users
						div 
							img.compartio-image(src="#{obj.url_image}", alt="sin imagen")
						div #{obj.username}

			if result.message != null		
				include ../../../includes/compartio-comentarios
		