extends ../../layouts/default

block head
  title #{title} // compart.io

block neck
  link(rel='stylesheet', href='/views/feedback/index.min.css?#{cacheBreaker}')

block feet
  script(src='/views/feedback/index.min.js?#{cacheBreaker}')

block body
  div.page
    div.container
      div.row
        div.col-sm-12.page-header            
            if mensaje
              h2 #{mensaje}
            else
              h2 Envíanos un mensaje

      div.row
        form#feedback-form(name="addfeedback" method="post", action="/addfeedback")
          div.form-group
                label Elige una categoría:
                br                
                select(name='subject') 
                  each tema, i in temas
                    option(value="#{tema}") #{tema}

              div.form-group()
                //label Mensaje:
                textarea.form-control(name='message', rows='5', placeholder="Escribe aquí tu mensaje")
                span.help-block
              div.form-group()
                //label Tu email:
                input.form-control(type='text', name='email', placeholder="Escribe aquí tu email")
                span.help-block                    
              div.form-group
                input(type='hidden', name='_csrf', value='#{csrftoken}')
                button#btnSubmit.btn.btn-primary.btn-feedback(type='submit') Enviar mensaje
