extends ../../layouts/default  

block head	
	if result.user.name
		title #{result.user.name} #{result.user.lastname} - compart.io		
		- var name = result.user.username + " " + result.user.lastname
	else
		title #{result.user.username} - compart.io
		- var name = result.user.username
	
block body
	div.row
		div.col-sm-4 
			if result.user.url_image 
				img.user-image.img-rounded.img-responsive(src="#{result.user.url_image}", alt="#{name} - compart.io")
			else
				img.user-image.img-rounded.img-responsive(src="http://dummyimage.com/250x250/DDD/fff.jpg")

		div.col-sm-7.col-sm-offset-1
			h2.text-uppercase ¡Hola! Soy #{name}
			
			p #{result.user.about}		
		
			p 
				| Mi ciudad: 
				a(href="/#{result.city.slug}") #{result.city.name} 
				| city_id: #{result.city._id} 

	div.row
		div.col-sm-6
			p.text-uppercase Lo que #{result.user.name} está ofreciendo ahora mismo
			p id usuario: #{result.user._id}

			if result.donations != null				
				for obj in result.donations
					p 
						a(href="/give/view/#{obj._id}") #{obj.title}
					p #{obj.description}
					p id: #{obj._id}
					p status: #{obj.status}
					p giver_user_id: #{obj.giver_user_id}
					p 
						img.compartio-image(src="#{obj.url_image}", alt="#{obj.title}")
	

		div.col-sm-6 
			p.text-uppercase Lo que #{result.user.name} está pidiendo ahora mismo
			if result.needs != null				
				for obj in result.needs
					p Nombre: #{obj.title}					
					p #{obj.description}
					p id: #{obj._id}
					p status: #{obj.status}
					p receiver_user_id: #{obj.receiver_user_id}

	div.row
		h3.text-uppercase El histórico de #{result.user.name}
		div.col-sm-6
			h4 Donaciones
			if result.donations_done != null				
				for obj in result.donations_done
					p Nombre: #{obj.title}
					p 
						img.compartio-image(src="#{obj.url_image}", alt="#{obj.title}")
					p id: #{obj._id}
					p status: #{obj.status}
					p giver_user_id: #{obj.giver_user_id}
						img.user-image(src="#{obj.giver_user_id.url_image}", alt="#{obj.giver_user_id.name}")
						img.user-image(src="#{result.user.url_image}", alt="#{result.user.name}")
					p receiver_user_id: #{obj.receiver_user_id._id}
						img.user-image(src="#{obj.receiver_user_id.url_image}", alt="#{obj.receiver_user_id.name}")




		div.col-sm-6
			h4 Recepciones
