extends ../../layouts/default  

block head	
	if result.user.name
		title #{result.user.name} #{result.user.lastname} - compart.io		
		- var name = result.user.name 
		- var fullname = result.user.name + " " + result.user.lastname		
	else
		title #{result.user.username} - compart.io
		- var name = result.user.username
		- var fullname = name

block neck
	link(rel='stylesheet', href='/views/user/index.min.css?#{cacheBreaker}')

block body
	div.page.user-profile
		div.container
			hr
			div.row
				div.col-sm-4(id="user-image")
					if result.user.url_image 
						img.user-image.img-rounded.img-responsive(src="#{result.user.url_image}", alt="#{name} - compart.io")
					else
						img.user-image.img-rounded.img-responsive(src="http://dummyimage.com/250x250/DDD/fff.jpg")

				div.col-sm-7.col-sm-offset-1
					h2 ¡Hola! Soy #{fullname}
					
					p.about #{result.user.about}		
				
					p.city 
						| Mi ciudad: 
						a(href="/#{result.user.city.slug}") #{result.user.city.name} 			

			div.row
				div.col-sm-6
					h4 Lo que #{name} está ofreciendo ahora mismo
					hr
					// p id usuario: #{result.user._id}

					if result.donations != null				
						for obj in result.donations
							p 
								a(href="/give/view/#{obj._id}") #{obj.title}
								| --- id: #{obj._id} --- status: #{obj.status}
							// giver_user_id: #{obj.giver_user_id}
							p 
								a(href="/give/view/#{obj._id}")
									img.compartio-image(src="#{obj.url_image}", alt="#{obj.title}")
			

				div.col-sm-6 
					h4 Lo que #{name} está pidiendo ahora mismo
					hr
					if result.needs != null				
						for obj in result.needs
							p Se necesita:					
							p #{obj.title} / #{obj.description}
							p id: #{obj._id} -- status: #{obj.status}
							// p receiver_user_id: #{obj.receiver_user_id}

			div.row
				h3 El histórico de #{name}
				div.col-sm-6
					h4 Donaciones
					hr
					if result.donations_delivered != null				
						for obj in result.donations_delivered
							p Nombre: #{obj.title}
							p 
								img.compartio-image(src="#{obj.url_image}", alt="#{obj.title}")
							p id: #{obj._id}
							p status: #{obj.status}
							p giver_user_id: #{obj.giver_user_id}						
								img.user-image(src="#{result.user.url_image}", alt="#{result.user.name}")
							p receiver_user_id: #{obj.receiver_user_id._id}
								a(href="/user/#{obj.receiver_user_id._id}")
									img.user-image(src="#{obj.receiver_user_id.url_image}", alt="#{obj.receiver_user_id.name}")




				div.col-sm-6
					h4 Recepciones
					hr
					if result.needs_delivered != null				
						for obj in result.needs_delivered
							if obj.giver_user_id.name
								- var giver_user_name = obj.giver_user_id.name + obj.giver_user_id.lastname
							else
								- var giver_user_name = obj.giver_user_id.username 
							p 
								| Recibió un 
								a(href="/give/view/#{obj._id}") #{obj.title} 
								| de 
								a(href="/user/#{obj.giver_user_id._id}", title="Ir al perfil de #{giver_user_name} en compart.io") #{giver_user_name} 
								| #{moment(obj.delivered).fromNow()}.
																				
							p 
								img.compartio-image(src="#{obj.url_image}", alt="#{obj.title}")
							p id: #{obj._id}
							p status: #{obj.status}
							p giver_user_id: #{obj.giver_user_id._id}
							p 
								a(href="/user/#{obj.giver_user_id._id}") #{giver_user_name}
									//img.user-image.img-rounded.user-image-small(src="#{obj.giver_user_id.url_image}", alt="#{obj.giver_user_id.name}")									

							p receiver_user_id: #{result.user._id}
								img.user-image.img-rounded.user-image-small(src="#{result.user.url_image}", alt="#{result.user.name}")


block feet
