extends ../../layouts/default  

block head
	title #{result.user.name} #{result.user.lastname} - compart.io

block body
	div.row
		div.col-sm-4 
			if result.user.image 
				img.user-image.img-rounded.img-responsive(src="#{result.user.image}")
			else
				img.user-image.img-rounded.img-responsive(src="http://dummyimage.com/250x250/DDD/fff.jpg")

		div.col-sm-7.col-sm-offset-1
			h2 ¡Hola! Soy #{result.user.name} #{result.user.lastname}			
			
			p #{result.user.about}		
		
			p 
				| Mi ciudad: 
				a(href="/#{result.city.slug}") #{result.city.name}

	div.row
		div.col-sm-6
			p Lo que #{result.user.name} está ofreciendo

		div.col-sm-6 
			p Lo que #{result.user.name} está pidiendo ahora mismo

	div.row
		div.col-sm-12
			p El histórico de #{result.user.name}