extends ../../layouts/header-footer 

block body
		div.container 			
			- count=0;
			div.compartio-gives
				for obj in result.compartio
					if obj.giver_user_id && obj.status == "published"
						if count == 0
							h1 Donaciones en #{result.city.name}
							p.info
								| Estás visualizando todos los compartios que se dan en #{result.city.name}. Si no encuentras lo que necesitas, puedes 
								a(href="") pedir un compartio.
						div
							p Título: #{obj.title}
							p Estado: #{obj.condition}			
							p cat: #{obj.category_id}			
							p Descripción: #{obj.description}
							p 
								a(href="/give/view/#{obj._id}")
								img.compartio-image(src="#{obj.url_image}", alt="#{obj.title}")
						- count++;
				if count > 0
					p Hay #{count} DONACIONES
				- count=0;

			div.compartio-needs
				for obj in result.compartio
					if obj.receiver_user_id && obj.status == "published"
						if count == 0
								h1 Peticiones en #{result.city.name}
								p.info
									| Estás visualizando todos los compartios que se necesitan en #{result.city.name}. Si nadie necesita lo que quieres regalar, puedes 
									a(href="") darlo de alta aquí.
						div
							p Título: #{obj.title}
							p Estado: #{obj.condition}
							p cat: #{obj.category_id}
							p Descripción: #{obj.description}
							- count++;
				if count > 0
					p Hay #{count} PETICIONES 