extends ../../../layouts/header-footer  

block head
	title #{result.compartio.title} disponible en #{result.city.name} - compart.io

block body
	div.page
		div.container
			div(id="compartio")
				div
					h1 #{result.compartio.title}
				div
						img.compartio-image(src="#{result.compartio.url_image}", alt="#{result.compartio.title}")
				div
					div de #{result.user.username}
					div Disponible en #{result.city.name}
					div #{result.compartio.description}
			
			div(id="categoria")
				h2 CATEGORÍAS
				div
					div 
						img.compartio-image(src="#{result.category.url_image}", alt="sin imagen")
					div
						div #{result.category.title}
						div #{result.category.description}

			div(id="usuarios-interesados")
				button LO NECESITO
				div Un consejo: a través de un comentario, explica por qué necesitas el compartio
				if result.interested_users != null
					for obj in result.interested_users
						div 
							img.compartio-image(src="#{obj.url_image}", alt="sin imagen")
						div #{obj.username}

			if result.message != null		
				include ../../../includes/compartio-comentarios